<div ng-app="Gifster" ng-controller="UsersController" ng-init="getUsers()">
  <div class="row">
    <div class="col-md-6">
      <h2>{{formHeader}}</h2>
      <form ng-submit="save()">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" ng-model="user.first_name" />
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" ng-model="user.last_name" />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" ng-model="user.email" />
        </div>
        <button class="btn btn-primary">
          Save
        </button>
      </form>

      <h1>Users</h1>
      <ul>
        <li ng-repeat="user in users">
          {{ user.first_name }} {{ user.last_name }} ( {{user.email}} )
          <div class="btn btn-default" ng-click="edit(user, $index)">
            <%= fa_icon "pencil" %>
          </div>
          <div class="btn btn-default" ng-click="delete(user, $index)">
            <%= fa_icon "trash-o" %>
          </div>
          <a href="/users/{{user.id}}/conversations">convos</a>
        </li>
      </ul>
    </div>
  </div>
</div>
